<a href="https://colab.research.google.com/github/UdayKiran3366/Machine-Learning-19cse305/blob/main/week_10_Multinomial_Naive_Bayes_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Naive bayes
 Multinomial Naive Bayes - used to solve text classification problem - input is of type descrete

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/drive/MyDrive/datasets/spam.csv")

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.shape

(5572, 2)

In [7]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [8]:
df['spam']=df['Category'].apply(lambda x : 1 if x=='spam' else 0)

In [9]:
#train_test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [11]:
text = ['Hello my name is uday', 'hello this is my practice session', 'im trying to creat a Naive Bayes model',
'james of words to try differnt', 'features of count vectorizer']
coun_vect = CountVectorizer()
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
print(df)

   bayes  count  creat  differnt  features  hello  im  is  james  model  ...  \
0      0      0      0         0         0      1   0   1      0      0  ...
1      0      0      0         0         0      1   0   1      0      0  ...
2      1      0      1         0         0      0   1   0      0      1  ...
3      0      0      0         1         0      0   0   0      1      0  ...
4      0      1      0         0         1      0   0   0      0      0  ...

   of  practice  session  this  to  try  trying  uday  vectorizer  words
0   0         0        0     0   0    0       0     1           0      0
1   0         1        1     1   0    0       0     0           0      0
2   0         0        0     0   1    0       1     0           0      0
3   1         0        0     0   1    1       0     0           0      1
4   1         0        0     0   0    0       0     0           1      0

[5 rows x 23 columns]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Multinomial naive bayes

In [12]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [19]:
emails = ['Free entry in 2 a wkly comp to win FA Cup final','Upto 20% discount on parking, Go until jurong point, crazy.. Available only']
emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 1])

In [14]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9870782483847811

In [15]:
from sklearn.pipeline import Pipeline
clf = Pipeline([('vectorizer', CountVectorizer()),('nb', MultinomialNB())])

In [16]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [17]:
clf.score(X_test,y_test)

0.9870782483847811

In [18]:
clf.predict(emails)

array([1, 1])